{% extends 'bookaccount/base.html'%}
{% load static %}
    
{% block content %}  
{% load widget_tweaks %}

<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header text-black">
            <h2>Signup</h2>
          </div>
          <div class="card-body">
              <form action="{% url 'signup' %}" method="POST" >
                {% csrf_token %}
                   {% for field in form.visible_fields %}
                     <div class="form-group">
                         {{ field.label_tag }}
                            {% render_field field class="form-control" %}
                              {% if messages%}
                                {% for message in messages %}
                                  <span style="color:red">{{ message }}</span>
                                {% endfor %}
                               {% endif %}
                   {% endfor %}
                   <br>
                       <input type="submit" value="Signup" class="btn btn-block btn-primary">
                     </div>
              </form>
           </div>
              </div>   
          </div>
        </div>
      </div>
  </div>


  {% endblock content %}